.profile-user-image{
    outline: 2.5px solid rgb(150,150,150);
    border: 5px solid rgb(255,255,255);
    width: 105px;
    height: 100px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 255px;
}

.background-profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 255px;
}